/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  #body {
    background:rgb(245, 245, 245);
    background-image: url("https://cdn.pixabay.com/photo/2016/11/24/00/05/seamless-1855090_1280.jpg");
    background-size:contain;
  }
  #maindiv {
    background:rgba(255, 255, 255, 0.927);
    width: 90%;
    height: 90%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.068);
    transition: 1s all;
    margin-top: 5%;
    margin-bottom: 5%;
  }
    #header1 {
      display: block;
      size: 20%;
      text-align: center;
      color:rgb(114, 111, 115);
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 300;
      padding-top: 40px;
    }
    #error {
      color:rgb(198, 21, 62);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: smaller;
      display:initial;
    }
    #form {
      display: block;
      margin: 0 auto;
      text-align: left;
      padding-left: 20%;
      padding-bottom: 10px;
    }
    #text_string {
      display: block;
      border-style:solid;
      border-color: rgb(227, 227, 227);
      height: 30px;
      width: 200px;
      border-radius: 5px;
    }
    .radiobutt {
      font-family: system-ui, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      display: block;
      position: absolute;
    }
    input[type="submit"] {
      color:rgb(0, 0, 255);
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 800;
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
    }
    input[type="submit"]:hover {
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
    }
    .radiolabel {
      color:rgb(0, 0, 146);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: large;
    }
    .radioname {
      display: block;
      color:rgb(0, 0, 255);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: medium;
      position: relative;
      margin-left: 30px;
      margin-top: -2px;
    }
    .radioname:hover {
      color:rgb(0, 0, 180);
      
    }
    #submitbutton {
      display: block;
      margin-top: 10px;
      background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      border: 0px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 30px;
      color:rgb(255, 255, 255);
      transition: 0.5s all;
    }
    #submitbutton:hover {
      transform: scale(1.05);
      background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
    }   
    #stylenotice {
      display: none;
      color: rgb(255, 0, 0);
    }
    .ascii-output {
      background-color: rgba(244, 244, 244, 0.5);
      width: 70%;
      height: 200px;
      margin-bottom: 10%;
    }
    #textstring {
      color:rgb(113, 111, 111);
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 600;
    }
    #results {
      margin-left: 20%;
    }
    #downloadbutton {
      display: block;
      margin-bottom: 50px;
      margin-left: 1%;
      background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      border: 0px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 30px;
      color:rgb(255, 255, 255);
      transition: 0.5s all;
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 800;
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
    }
    #downloadbutton:hover {
      transform: scale(1.05);
      background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
    }
    #link {
      text-decoration: none;
    }
    #footer {
      display: none;
    }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 768px) {
  #body {
    background:rgb(245, 245, 245);
    background-image: url("https://cdn.pixabay.com/photo/2016/11/24/00/05/seamless-1855090_1280.jpg");
    background-size: cover;
  }
  #maindiv {
    background:rgba(255, 255, 255, 0.927);
    width: 90%;
    height: 90%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.068);
    transition: 1s all;
    margin-top: 5%;
    margin-bottom: 5%;
  }
    #header1 {
      display: block;
      size: 20%;
      text-align: center;
      color:rgb(114, 111, 115);
      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
      font-weight: 300;
      padding-top: 40px;
    }
    #error {
      color:rgb(198, 21, 62);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: small;
      display:initial;
    }
    #form {
      display: block;
      margin: 0 auto;
      text-align: left;
      padding-left: 20%;
      padding-bottom: 20px;
    }
    #text_string {
      display: block;
      border-style:solid;
      border-color: rgb(227, 227, 227);
      height: 30px;
      width: 200px;
      border-radius: 5px;
    }
    .radiobutt {
      font-family: system-ui, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      display: block;
      position: absolute;
    }
    input[type="submit"] {
      color:rgb(0, 0, 255);
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 800;
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
    }
    input[type="submit"]:hover {
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
    }
    .radiolabel {
      color:rgb(0, 0, 146);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: large;
    }
    .radioname {
      display: block;
      color:rgb(0, 0, 255);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: medium;
      position: relative;
      margin-left: 30px;
      margin-top: -2px;
    }
    .radioname:hover {
      color:rgb(0, 0, 180);
      
    }
    #submitbutton {
      display: block;
      margin-top: 10px;
      background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      border: 0px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 30px;
      color:rgb(255, 255, 255);
      transition: 0.5s all;
    }
    #submitbutton:hover {
      transform: scale(1.05);
      background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
    }   
    #stylenotice {
      display: none;
      color: rgb(255, 0, 0);
    }
    .ascii-output {
      background-color: rgba(244, 244, 244, 0.5);
      width: 70%;
      height: 200px;
      margin-bottom: 10%;
    }
    #textstring {
      color:rgb(113, 111, 111);
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 600;
    }
    #results {
      margin-left: 20%;
    }
    #downloadbutton {
      display: block;
      margin-bottom: 50px;
      margin-left: 6%;
      background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      border: 0px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 30px;
      color:rgb(255, 255, 255);
      transition: 0.5s all;
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 800;
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
    }
    #downloadbutton:hover {
      transform: scale(1.05);
      background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
    }
    #link {
      text-decoration: none;
    }
    #footer {
      display: none;
    }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  #body {
    background:rgb(245, 245, 245);
    background-image: url("https://cdn.pixabay.com/photo/2016/11/24/00/05/seamless-1855090_1280.jpg");
    background-size: cover;
    
  }
  #maindiv {
    background:rgba(255, 255, 255, 0.927);
    width: 70%;
    height: 90%;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.068);
    transition: 1s all;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #maindiv:hover {
    box-sizing: 120%;
    box-shadow: 0px 0px 80px 80px rgba(0, 0, 0, 0.212);
  }
    #header1 {
      display: block;
      size: 20%;
      text-align: center;
      color:rgb(114, 111, 115);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      padding-top: 40px;
    }
    #error {
      color:rgb(198, 21, 62);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: small;
      display:initial;
    }
    #form {
      display: block;
      margin: 0 auto;
      text-align: left;
      padding-left: 20%;
      padding-bottom: 40px;
    }
    #text_string {
      display: block;
      border-style:solid;
      border-color: rgb(227, 227, 227);
      height: 30px;
      width: 200px;
      border-radius: 5px;
    }
    .radiobutt {
      font-family: system-ui, sans-serif;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.1;
      display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;
      display: inline-block;
    }
    input[type="submit"] {
      color:rgb(0, 0, 255);
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 800;
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
    }
    input[type="submit"]:hover {
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
    }
    .radiolabel {
      color:rgb(0, 0, 146);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .radioname {
      color:rgb(0, 0, 255);
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
    .radioname:hover {
      color:rgb(0, 0, 180);
      
    }
    #submitbutton {
      display: block;
      margin-top: 30px;
      background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      border: 0px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 30px;
      color:rgb(255, 255, 255);
      transition: 0.5s all;
    }
    #submitbutton:hover {
      transform: scale(1.05);
      background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
    }   
    #stylenotice {
      display: none;
      color: rgb(255, 0, 0);
    }
    .ascii-output {
      background-color: rgba(244, 244, 244, 0.5);
      width: 70%;
      height: 200px;
      margin-bottom: 10%;
    }
    #textstring {
      color:rgb(113, 111, 111);
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 600;
    }
    #results {
      margin-left: 20%;
    }
    #downloadbutton {
      display: block;
      margin-bottom: 50px;
      margin-left: 6%;
      background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      border: 0px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 30px;
      color:rgb(255, 255, 255);
      transition: 0.5s all;
      font-family: 'Open Sans', sans-serif;
      font-size: large;
      font-weight: 800;
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
    }
    #downloadbutton:hover {
      transform: scale(1.05);
      background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
      box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
    }
    #link {
      text-decoration: none;
    }
    #footer {
      display: none;
    }
  }
   
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  #body {
        background:rgb(245, 245, 245);
        background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        background-size: cover;
        
      }
      #maindiv {
        background:rgba(255, 255, 255, 0.927);
        width: 70%;
        height: 90%;
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.068);
        transition: 1s all;
        position: relative;
      }
      #maindiv:hover {
        box-sizing: 120%;
        box-shadow: 0px 0px 80px 80px rgba(0, 0, 0, 0.212);
      }
        #header1 {
          display: block;
          size: 20%;
          text-align: center;
          color:rgb(114, 111, 115);
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
          padding-top: 40px;
        }
        #error {
          color:rgb(198, 21, 62);
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
          font-size: small;
          display:initial;
        }
        #form {
          display: block;
          margin: 0 auto;
          text-align: left;
          padding-left: 25%;
          padding-bottom: 40px;
        }
        #yourresult {
          padding-left: 7%;
          display: block;
        }
        #yourresult.radiolabel {
          margin-top: 0px;
        }
        #text_string {
          display: block;
          border-style:solid;
          border-color: rgb(227, 227, 227);
          height: 30px;
          width: 200px;
          border-radius: 5px;
        }
        .radiobutt {
          font-family: system-ui, sans-serif;
          font-size: 2rem;
          font-weight: bold;
          line-height: 1.1;
          display: grid;
          grid-template-columns: 1em auto;
          gap: 0.5em;
          display: inline-block;
        }
        input[type="submit"] {
          color:rgb(0, 0, 255);
          font-family: 'Open Sans', sans-serif;
          font-size: large;
          font-weight: 800;
          box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
        }
        input[type="submit"]:hover {
          box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
        }
        .radiolabel {
          color:rgb(0, 0, 146);
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
        }
        .radioname {
          color:rgb(0, 0, 255);
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
        }
        .radioname:hover {
          color:rgb(0, 0, 180);
          
        }
        #submitbutton {
          display: block;
          margin-top: 30px;
          background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
          border: 0px;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 50px;
          padding-right: 50px;
          border-radius: 30px;
          color:rgb(255, 255, 255);
          transition: 0.5s all;
        }
        #submitbutton:hover {
          transform: scale(1.05);
          background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
        }   
        #stylenotice {
          display: none;
          color: rgb(255, 0, 0);
        }
        .ascii-output {
          background-color: rgba(244, 244, 244, 0.5);
          width: 70%;
          height: 200px;
          margin-bottom: 7%;
        }
        #textstring {
          color:rgb(113, 111, 111);
          font-family: 'Open Sans', sans-serif;
          font-size: large;
          font-weight: 600;
        }
        #results {
          margin-left: 20%;
        }
        #downloadbutton {
          display: block;
          margin-bottom: 50px;
          margin-left: 6%;
          background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
          border: 0px;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: 50px;
          padding-right: 50px;
          border-radius: 30px;
          color:rgb(255, 255, 255);
          transition: 0.5s all;
          font-family: 'Open Sans', sans-serif;
          font-size: large;
          font-weight: 800;
          box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
        }
        #downloadbutton:hover {
          transform: scale(1.05);
          background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
          box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
        }
        #link {
          text-decoration: none;
        }
        #footer {
          display: block;
          position: relative;
          color:rgb(177, 177, 177);
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
          text-align: center;
          font-size: x-small;
          margin-top: 50px;
          bottom: 0;
          width: 100%;
        }
      }
       
      /* Media Query for Large screens */
      @media (min-width: 1281px) { 
        #body {
          background:rgb(245, 245, 245);
          background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
          background-size: cover;
        }
        #maindiv {
          background:rgba(255, 255, 255, 0.927);
          width: 1000px;
          height: 90%;
          border-radius: 5px;
          margin: 0 auto;
          margin-top: 10%;
          box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.068);
          transition: 1s all;
          position: relative;
        }
        #maindiv:hover {
          box-sizing: 120%;
          box-shadow: 0px 0px 80px 80px rgba(0, 0, 0, 0.212);
        }
          #header1 {
            display: block;
            size: 20%;
            text-align: center;
            color:rgb(114, 111, 115);
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            padding-top: 40px;
          }
          #error {
            color:rgb(198, 21, 62);
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: small;
            display:initial;
          }
          #form {
            display: block;
            margin: 0 auto;
            text-align: left;
            padding-left: 25%;
            padding-bottom: 40px;
          }
          #text_string {
            display: block;
            border-style:solid;
            border-color: rgb(227, 227, 227);
            height: 30px;
            width: 200px;
            border-radius: 5px;
          }
          .radiobutt {
            font-family: system-ui, sans-serif;
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.1;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
            display: inline-block;
          }
          input[type="submit"] {
            color:rgb(0, 0, 255);
            font-family: 'Open Sans', sans-serif;
            font-size: large;
            font-weight: 800;
            box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
          }
          input[type="submit"]:hover {
            box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
          }
          .radiolabel {
            color:rgb(0, 0, 146);
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
          }
          .radioname {
            color:rgb(0, 0, 255);
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
          }
          .radioname:hover {
            color:rgb(0, 0, 180);
            
          }
          #submitbutton {
            display: block;
            margin-top: 30px;
            background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
            border: 0px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 50px;
            padding-right: 50px;
            border-radius: 30px;
            color:rgb(255, 255, 255);
            transition: 0.5s all;
          }
          #submitbutton:hover {
            transform: scale(1.05);
            background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
          }   
          #stylenotice {
            display: none;
            color: rgb(255, 0, 0);
          }
          .ascii-output {
            background-color: rgba(244, 244, 244, 0.5);
            width: 70%;
            height: 200px;
            margin-bottom: 10%;
          }
          #textstring {
            color:rgb(113, 111, 111);
            font-family: 'Open Sans', sans-serif;
            font-size: large;
            font-weight: 600;
          }
          #results {
            margin-left: 20%;
          }
          #downloadbutton {
            display: block;
            margin-bottom: 50px;
            margin-left: 6%;
            background: linear-gradient(130deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
            border: 0px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 50px;
            padding-right: 50px;
            border-radius: 30px;
            color:rgb(255, 255, 255);
            transition: 0.5s all;
            font-family: 'Open Sans', sans-serif;
            font-size: large;
            font-weight: 800;
            box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.132);
          }
          #downloadbutton:hover {
            transform: scale(1.05);
            background: linear-gradient(150deg, rgb(67, 17, 206) 0%, rgb(158, 11, 126) 100%);
            box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.258);
          }
          #link {
            text-decoration: none;
          }
          #footer {
            display: block;
            position: relative;
            bottom: 0;
            width: 100%;
            color: rgb(177, 177, 177);
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            text-align: center;
            font-size: x-small;
            margin-top: 10%;
          }
        }
         