<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-art web</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body id="body">
  <div id="maindiv">
    <h1 id="header1">Let's start playing with ascii art!</h1>
    <br>
    <br>
       <div id="content"> {{template "content" .}}
       </div>
  </div>
  <footer id="footer">
  <p>© 2023 Created by: Olena Budarahina (Gitea username: obudarah), Kristina Volkova (Gitea username: Mustkass) for Kood/Johvi.</p>
  </footer>
</body>
</html>
