{{define "content"}}
<div id="form">
          <form method="POST" action="/" name="textform">
            <label for="text" class="radiolabel">Type your text here:</label><br><br>
        <textarea id="text_string" name="text_string" rows="5" cols="30" placeholder="type something" autofocus required>{{.Input}}</textarea>
        {{if .Err}}
        <label class="error" id="error">{{.Err}}</label>
        {{end}}
        <br>
        <br>
        <label for="radio" class="radiolabel">Choose a style:</label><br><br>
       <input type="radio" class="radiobutt" id="standard" name="text_style" value="standard" checked required>
        <label for="standard" class="radioname">Standard</label>
        <input type="radio" class="radiobutt" id="shadow" name="text_style" value="shadow" required>
        <label for="shadow" class="radioname">Shadow</label>
        <input type="radio" class="radiobutt" id="thinkertoy" name="text_style" value="thinkertoy" required>
        <label for="thinkertoy" class="radioname">Thinkertoy</label><br><br><br>
        <label  class="radiolabel">Choose a color:</label><br><br>
        <input type="color" class="radiobutt" id="color" name="color" value="#183554">
        <label for="color" class="radioname">letters</label><br><br>
        <input type="color" class="radiobutt" id="bk-color" name="bk-color" value="#efefee">
        <label for="bk-color" class="radioname">background</label><br><br>
        <input id="submitbutton" type="submit" value="Submit">
          </form>
</div>
<div id="results">
  <br>
  {{if .Output}}
    <p id="yourresult" class="radiolabel">Your result:</p>
    <textarea wrap="off" class="ascii-output"  style="color: {{.Color}}; background-color: {{.BkColor}};" readonly>{{.Output}}</textarea>
    <a href="/textfile/AsciiResult.txt" id="link" type="file" download="AsciiResult.txt">
         <button type="button" id="downloadbutton">Download .txt</button>
         </a><br>
  {{end}}
</div>
{{end}}
